@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2');
}

:root {
  --color-base-light: #f9f9f9;
  --color-base-dark: #131313;
  --color-base-orange: #ee4601;
  --color-btn-active: rgba(205, 60, 0, 1);
  --color-base-light-green: #00ff1f;
  --color-border: rgba(249, 249, 249, 1);
}

body {
  background-color: var(--color-base-light);
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 1.45;
  font-weight: 400;
  color: var(--color-base-dark);
  margin: 0;
}

/* base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline;
  text-decoration: none;
  color: var(--color-base-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  color: var(--color-base-dark);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 50px;
}

/* header */
.header {
  background-color: var(--color-base-dark);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0;
}

.header-link {
  color: var(--color-base-light);
  font-size: 'Montserrat';
  font-weight: 600;
  font-style: 24px;
}

/* hero section */

.hero-section {
  padding: 82px 0 0 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url(./img/hero-section-robot.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero-section::before,
.hero-section::after {
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
  animation: pulseBackground 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero-section::before {
  background-image: url(./img/bcg-hero-1.png);
  width: 324px;
  height: 669px;
}

.hero-section::after {
  background-image: url(./img/bcg-hero-2.png);
  width: 541px;
  height: 841px;
  right: 0;
  bottom: 0;
}

.hero-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(249, 249, 249, 0) 0%,
    #f9f9f9 100%
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 30%;
}
.container.hero {
  display: flex;
  justify-content: flex-end;
}
.hero-block {
  width: 50%;
  max-width: 570px;
  padding-bottom: 83px;
}

.title-hero {
  color: var(--color-base-light);
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-accent {
  color: var(--color-base-light-green);
  font-size: 40px;
  font-weight: 700;
}

.text-hero {
  color: var(--color-base-light);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
}

.btn-hero {
  padding: 15px 27.5px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-base-light);
  background-color: var(--color-base-orange);
  border: none;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.btn-hero:hover {
  box-shadow: 0px 0px 30px 0px rgba(238, 70, 1, 0.5);
}

.btn-hero:active {
  background-color: var(--color-btn-active);
}

.video-first {
  margin-top: 30px;
  border-radius: 10px;
  width: 570px;
  height: 322px;
  margin-bottom: 40px;

  z-index: 1;
}

.group-hero {
  max-width: 570px;
}

/* socios */

.group-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

/* problema */
.problema-section {
  overflow: hidden;
  padding-bottom: 57px;
}

.group-article-problema {
  display: flex;
  gap: 30px;
  position: relative;
}

.container.section {
  background-image: url(./img/vect-problem2.png);
  background-position: right 200px top 20px;
  background-repeat: no-repeat;
  background-size: 370px 431px;
}

.group-article-problema::before,
.group-article-problema::after {
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;

  animation: pulseBackground 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.group-article-problema::before {
  background-image: url(./img/vect-problem1.png);
  width: 349px;
  height: 313px;
  left: -60px;
}

.group-article-problema::after {
  background-image: url(./img/vect-problem3.png);
  right: -60px;
  width: 349px;
  height: 313px;
}

.article-problema {
  width: 270px;
  height: auto;
  background-color: var(--color-base-dark);
  color: var(--color-base-light);
  padding: 20px 30px;
  border-radius: 20px;
  z-index: -1;
}

.img-problema {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.text-problema {
  line-height: 1.45;
}

/* solucion */
.solucion-section {
  overflow: hidden;
  padding-bottom: 50px;
}

.text-solusion {
  font-style: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.solution-accent{
  color: var(--color-base-orange);
}
.solusion-block {
  display: flex;
  gap: 132px;

  background-color: var(--color-base-dark);
  color: var(--color-base-light);
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  padding-bottom: 50px;
  position: relative;
}

.solusion-block::after {
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
  left: 896px;
  top: 45px;
  background-image: url(./img/bcg-solucion.png);
  width: 353px;
  height: 342px;

  animation: pulseBackground 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.solucion-item {
  flex: 1;
}
.title-solucion {
  text-transform: uppercase;
  font-style: 24px;
  font-weight: 700;
}
.num-accent {
  font-size: 96px;
  font-weight: 600;
}

/* video */
.video {
  margin: 0 auto;
  width: 1170px;
}
.video-carousel {
  display: flex;
  gap: 30px;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.video_block {
  /* display: flex;*/
  flex: 0 0 auto;
  width: 370px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.video_block.show {
  display: flex;
}

.arr {
  text-align: center;
  margin-top: 10px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.arr img {
  cursor: pointer;
}

.video-img {
  width: 370px;
  cursor: pointer;
}

.desc_video {
  width: 270px;
  height: 69px;
  color: var(--color-base-orange);
  border: 1px solid var(--color-base-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.48px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* man section */

.man-block {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.title-man {
  padding-bottom: 20px;
}

.man-text-first {
  padding-bottom: 30px;
}

.man-text-frame {
  background-color: var(--color-base-light);
  padding: 20px 40px;
  border: 1px solid var(--color-base-dark);
  border-radius: 20px;
  margin-left: -110px;
}

.man-text-frame-next {
  background-color: var(--color-base-light);
  padding: 20px 40px;
  border: 1px solid var(--color-base-dark);
  border-radius: 20px;
  margin-right: -110px;
}

.img-man-right {
  z-index: -1;
}

/* faq */

.faq-section {
  background-color: var(--color-base-dark);
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.title.title-FAQ {
  color: var(--color-base-light);
}

hr {
  border: none;
  background-color: var(--color-base-light);
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.accordion-content {
  color: var(--color-base-light);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Додано перехід */
}

.accordion-item.active .accordion-content {
  display: block;
  max-height: 1000px; /* Початкове значення для анімації */
}

.accordion-header {
  color: var(--color-base-light);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.38px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.arrow-svg-top,
.arrow-svg-bottom {
  display: none;
}

.arrow-svg-top.active,
.arrow-svg-bottom.active {
  display: inline-block;
}

.arrow-svg-bottom.active {
  display: none;
}

/* photo text */
.computacion-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.photo-text {
  display: flex;
  align-items: center;
}

.photo-desc {
  background-color: var(--color-base-light);
  padding: 20px 40px;
  border: 1px solid var(--color-base-dark);
  border-radius: 20px;
  margin-right: -150px;
  height: 689px;
}

.photo-desc p {
  padding-bottom: 20px;
  font-size: 22px;
  line-height: 1.45;
}

.photo-lamp {
  z-index: -1;
}

/* form */
.form-section {
  background-color: var(--color-base-dark);
  position: relative;

  overflow: hidden;
}

.form-section::before {
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
  height: 524px;
  width: 470px;
  background-image: url(./img/form-left.svg);
  background-position: center;
  bottom: 0;
  left: 250px;
  animation: pulseBackground 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@keyframes pulseBackground {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(0.9);
  }
}

.form-section::after {
  position: absolute;
  content: '';
  height: 636px;
  width: 570px;
  background-image: url(./img/form-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 0;
  right: 150px;

  animation: pulseBackground 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.text-form {
  color: var(--color-base-light);
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.title.form-title {
  color: var(--color-base-light);
}
.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
.form {
  padding-bottom: 30px;

  border: 1px solid var(--color-border);
  border-radius: 20px;
  width: 470px;

  margin-bottom: 50px;
}

.form-inputs-all {
  display: flex;
  gap: 29px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 370px;
  border-radius: 10px;
  border: none;
}

.form-input::placeholder {
  color: var(--color-base-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-base-light);
}

.let {
  height: 625px;
}

.let-frame {
  border: 1px solid var(--color-base-light);
  border-radius: 40px;
  width: 570px;
  height: 393px;
  margin-top: 107px;
}

.icon-chek {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.let-text {
  display: flex;
  flex-direction: column;
  color: var(--color-base-light);
  text-align: center;
  gap: 20px;
}
/* footer */
.footer {
  padding: 40px 0 50px 0;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-base-dark);
}

.text-footer {
  color: var(--color-base-light);
  text-align: center;
  padding-bottom: 30px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.video-first-mob {
  display: none;
}

.img-man-l-mob,
.img-man-right-mob {
  display: none;
}

@media (max-width: 768px) {
.container{
  padding: 0 20px 0 20px;
}

  .header-container {
    height: 59px;
  }
  .logo {
    width: 106px;
  }

  .header-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
  }

  .hero-section::before,
  .hero-section::after {
    display: none;
  }
  .hero-section {
    background-position: center center;
    padding-top: 146px;
  }

  .title-hero {
    width: auto;
    font-size: 30px;
    padding-bottom: 50px;
  }

  .container.hero {
    display: block;
  }
  .hero-accent {
    font-size: 24px;
  }

  .hero-block {
  width: 100%;
  padding-bottom: 0;
  }

  .text-hero {
    font-size: 20px;
  }

  .btn-hero {
    width: 350px;
  }

  .group-hero-mob {
    width: 350px;
  }

  .video-first {
   display: none;
  }

  .video-first-mob {
    display: block;
    width: 350px;
    border-radius: 20px;
  }

  .title {
    padding: 50px 0 ;
    font-size: 24px;
    line-height: 1.2;
  }

  .group-partners {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .group-article-problema::before,
.group-article-problema::after {
  display: none;
}

.group-article-problema {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.article-problema {
  width: 360px;
  height: auto;
}

.article-problema p {
  font-size: 14px;
  line-height: 1.6;
}

.problema-section {
  padding: 0;
}

.text-solusion {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.solusion-block {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  background-color: transparent;
}

.title-solucion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

.solucion-item {
  background-color: var(--color-base-dark);
  padding: 0 20px 30px 20px;
  border-radius: 20px;
}
.solucion-item p{
  font-size: 14px;
  line-height: 1.6;
}

.title.non {
  display: none;
}

.man-block {
  display: flex;
  flex-direction: column;
}
.man-text-first {
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 20px;
}
.img-man-l {
  display: none;
}

.img-man-l-mob,
.img-man-right-mob{
  display: block;
  width: 360px;
  z-index: -10;
 
}


.man-text-frame,
.man-text-frame-next {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  width: 360px;
  padding: 20px;
}

.img-man-right {
  display: none;
}

.photo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.photo-desc{
  order: 2;
  width: 360px;
  height: auto;
  font-size: 14px;
  line-height: 1.6;
    margin: -50px 0 0 0;
    padding: 20px;
}

.photo-desc p {
    font-size: 14px;
  line-height: 1.6;
}

.photo-lamp{
  width: 360px;
}


.form-section::before,
.form-section::after {
  display: none;
}

.form {
  width: 400px;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--color-base-light);
}

.form-input{
  width: 320px;
  height: 48px;
}

}
